/* Settings for colours */
$primary: #FBC531;

$secondary: #353B48;
$secondary-dark: #2F3640;

$grey: #DCDDE1;
$grey-light: #E2E2E2;
$grey-dark: #C4C4C4;

$red: #E84118;

/* Settings for text */
$u-light: 'Ununtu-Light', sans-serif;
$u-regular: 'Ununtu-Regular', sans-serif;
$u-medium: 'Ununtu-Medium', sans-serif;
$u-bold: 'Ununtu-bold', sans-serif;